/* #two {
    display: grid;
    grid-template-columns: 3fr 1fr;
} */

#two {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}


#editor {
    background-color: lightgrey;
    padding: 1rem;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#editor>h2 {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

#editor>* {
    text-align: left;
}

input,
button,
textarea,
select {
    font: inherit;
}

#editor>input[type="number"] {
    text-align: right;
}

#--imagemaxsize {
    width: 5rem;
}